.container{
    margin-bottom: 80px;
}

.pink-bg{
    background-color:#FCEAE8;
    border-radius: 10px;
}

.carousel-item{
    padding: 40px;
}
.price{
    color: #FFD80A;
}
.cat1, .cat2, .cat3{
    padding: 10px 20px;
    border-radius: 10px;
}
.cat1{
    color: #fff;
    background-color: #FFA500;
}
.cat2{
    color: #fff;
    background-color: #DA70D6;
}
.cat3{
    color: #fff;
    background-color: #0000FF;
}
#catagory img{
    width: 100px;
    padding: 10px 0px 10px 20px;
}
.button{
    width: 140px;
    height: 45px;
    border-radius: 10px;
    color: #fff;
    background-color: #FF3182;
    border-color: #FF3182;
}
.end{
   height: 300px;
    background-color:#FCEAE8 ;
}